@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */

*, *:before, *:after, *:before {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:focus, a:focus {
	outline:0;
	outline-offset:0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
html, body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
ul,
ol {
    list-style: none;
    list-style-image: none;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
caption,th { text-align:left; }
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup, 
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
	max-width: 100%;
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after { clear: both; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}
button, 
input[type="submit"],
input[type="checkbox"],
input[type="radio"] { 
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input:not([type=checkbox]):not([type=radio]),
input[type="submit"],
textarea, 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after { clear: both; }
[hidden] {
	display: none;
}
@media (min-width: 768px) {
  .forMobile {
    display: none!important;
  }
}
@media (max-width: 767.98px) {
	.forDesktop {
		display: none!important;
	}
}

.lang-ukr .eng,
.lang-eng .ukr {
  display: none;
}

body {
	background-color: #000;
  font-family: 'Inter', sans-serif;
	color: #fff;
	overflow-x: hidden;
  font-size: 18px;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
}
.to-up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 98;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #33a06f;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
	display: none;
}
.to-up:hover {
	opacity: .8;
}
.vaMain {
  margin: 35px auto 80px;
  text-align: center;
}
.vaMain .hr-1 {
  margin: 25px auto 30px;
  background-color: #666;
  height: 2px;
  border: none;
}
.contacts .hr-1 {
  margin-top: 35px;
}
.vaMain p {
  line-height: 35px;
  margin-top: 10px;
}
.about,
.skills,
.contacts {
  max-width: 600px;
}
.about p {
  text-align: center;
  padding-bottom: 10px;
}
.skills ul,
.skills li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skills li {
  padding-bottom: 10px;
  line-height: 35px;
}
.contacts p span {
  color: #96969a;
  background-image: linear-gradient(135deg, red, green);
  -webkit-background-clip: text;
  background-clip: text;
}
.logo {
	color: #fff;
  font-weight: 700;
}
.logo a {
  color: #fff;
}
.logo h1,
.logo h1 a {
  /*color: #fff;*/
  color: transparent;
  background-image: linear-gradient(#F68B27,#ED0000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
}
.logo h1 a:hover,
.logo h1 a:focus {
  /*color: #26bbff;*/
  background-image: linear-gradient(#ED0000, #F68B27);
}
.eimage-link {
  background-repeat: no-repeat;
  background-position: center center;	
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 10px;
  display: block;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: 300ms ease-out;
  -moz-transition: 300ms ease-out;
  transition: 300ms ease-out;
  position: relative;
}
.eimage-link:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 300ms ease-out;
  -moz-transition: 300ms ease-out;
  transition: 300ms ease-out;
  -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.7);
}

.eimage-link img {
  width: 100%;
  min-width: 100%;
	display: block;
  
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: opacity 9s ease-in-out;
  -moz-transition: opacity 9s ease-in-out;
  -o-transition: opacity 9s ease-in-out;
  transition: opacity 9s ease-in-out;
}
@-webkit-keyframes cf3FadeInOut {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
  opacity:0;
  }
}
@-moz-keyframes cf3FadeInOut {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
  opacity:0;
  }
}
@-o-keyframes cf3FadeInOut {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
  opacity:0;
  }
}
@keyframes cf3FadeInOut {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
  opacity:0;
  }
}
img.l2 {
  -webkit-animation-name: cf3FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 9s;
  -webkit-animation-direction: alternate;

  -moz-animation-name: cf3FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 9s;
  -moz-animation-direction: alternate;

  -o-animation-name: cf3FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 9s;
  -o-animation-direction: alternate;

  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-direction: alternate;
}

.portfolio-video {
  border-radius: 10px;
	width: auto;
	max-height: 100%;
  max-width: 100%;
  display: block;
  overflow: hidden!important;
	cursor: pointer;
}

@media (min-width: 768px) {
  .top-container {
    max-width: 1360px;
    margin: 20px auto 20px;
    padding: 0 40px;
  }
  .top-content {
    background-color: #333;
    border-radius: 10px;
    padding: 20px 20px 30px;
    text-align: center;
    height: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

	.nav-toggle {
		display: none;
	}
  .logo h1,
  .logo h1 a {
		/*font-size: 45px;*/
    font-size: 59px;
    padding: 0px 0 0px;
    font-weight: 800;
	}
  .logo .lang {
    display: none;
  }
  .top p {   
    font-size: 20px;
    margin-top: 12px;
  }

	.vaContainer {
		max-width: 1360px;
		margin: 0 auto;
		padding: 0 40px;
	}
	.portfolio {
    display: grid;
    /*grid-gap: 1px;*/
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-top: 20px;
	}
  .lightbox .lb-image {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .eimage-link,
  .portfolio-video {
    border: 2px solid #000;
    overflow: hidden;
  }
   
  .eimage-link:hover,
  .portfolio-video:hover {
    border: 2px solid #fff;
    z-index: 5;
  }
  .eimage-link:hover,
  .portfolio-video:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 300ms ease-out;
    -moz-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
}

@media (max-width: 767.98px) {
  body {
    padding-top: 32px;
  }
  .top {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    background-color: #000;
  }
	.top-content {
		padding: 0 20px;
	}
	.logo {
    display: table;
    width: auto;
		padding-top: 17px;
	}
  .logo h1,
  .logo h1 a {
    color: #fff;
    background-image: none;
		font-size: 21px;
    font-weight: 600;
    display: inline-block;
	}
  .logo .lang {
    display: inline-block;
    font-size: 14px;
    position: relative;
    left: 9px;
    font-weight: 400;
    top: -1px;
  }
  .top p {   
    font-size: 16px;
    margin-top: 13px;
  }
	.vaContainer {
		padding: 0 20px;
	}
  .navigations .vaContainer {
		padding: 0;
	}
	.eimage-link,
  .portfolio-video {
		margin-bottom: 20px;
	}
  .eimage-link:hover,
  .eimage-link:focus {
    -webkit-transform: none;
    transform: none;
  }
}

/* navigations start
--------------------------------------------------- */
nav a {
  line-height: 1;
  display: block;
  color: #fff;
}
nav a:hover,
nav a:focus,
nav a.active {
  color: #26bbff;
}
nav a.active {
	cursor: default;
}
nav ul,
nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigations {
  background-color: #000;
}
nav .lang {
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 6px;
  background-color: #333;
  font-size: 12px;
  text-transform: uppercase;
}
nav .lang:hover {
  background-color: #000;
  color: #fff;
}

@media (min-width: 768px) {
	.nav-toggle {
		display: none;
	}
	.navigations {
		-webkit-transition: 300ms ease-out;
		-moz-transition: 300ms ease-out;
		transition: 300ms ease-out;
	}

  .navigations_fixed {
		position: fixed;
		z-index: 98;
		top: 0px;
		width: 100%;
		-webkit-transition: 300ms ease-out;
		-moz-transition: 300ms ease-out;
		transition: 300ms ease-out;
	}
  .navigations .vaContent {
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
  }
	nav > ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
    position: relative;
	}
	nav ul > li {
		position: relative;
		z-index: 1;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 4px 2px;
	}
  nav ul > li:nth-child(1) {
    padding-left: 0;
  }
  nav ul > li:nth-child(4) {
    padding-right: 0;
  }
	nav ul > li a {
		padding: 18px 0px;
  	font-size: 18px;
    display: block;
    text-align: center;
    background-color: #333;
	}
  nav ul > li a:hover,
  nav ul > li a.active {
    background-color: #666;
    color: #fff;
  }
  nav ul > li a.active {
    cursor: default;
  }
  
  nav ul > li:last-child {
    position: absolute;
    top: -215px;
    right: 30px;
    display: inline-block;
    width: auto;
    padding: 0;
  }

}

@media (max-width: 767.98px) {
	.nav-toggle {
		position: fixed;
    z-index: 100;
    top: 20px;
    right: 22px;
		display: inline-block;
		width: 26px;
		height: 24px;
	}
	.nav-toggle span { 
		position: absolute;
		left: 0; 
		top: 10px;  
	}
	.nav-toggle span, 
	.nav-toggle span:before,
	.nav-toggle span:after {
		position: absolute;
		display: block;
		content: '';
		background-color: #fff;
		cursor: pointer;
		height: 3px;
		width: 28px;
		-webkit-transition: 300ms ease-out;
		-moz-transition: 300ms ease-out;
		transition: 300ms ease-out;
	}
	.nav-toggle span:before {
		top: -8px;
	}
	.nav-toggle span:after {
		bottom: -8px; 
	}
  
	.nav-toggle.active span {
		background-color: transparent;
	}
	.nav-toggle.active span:before, 
  .nav-toggle.active span:after {
		bottom: 0; 
		top: 0;
	}
	.nav-toggle.active span:before {
		transform: rotate(45deg);
	}
	.nav-toggle.active span:after {
		transform: rotate(-45deg);
	}
  
	.navigations {
    background-color: #000;
		position: fixed;
		z-index: 99;
		left: 100%;
		top: 50px;
		width: 100%;
    transition: all 500ms ease-in-out;
    padding: 15px 20px 20px;
    height: calc(100vh - 50px);
		overflow-y: auto;
	}
  .navigations.active {
    left: 0;
    transition: all 500ms ease-in-out;
  }

	.navigationActive .navigations {
    left: 0;
    transition: all 500ms ease-in-out;
	}
	nav ul > li a {
    font-size: 29px;
    line-height: 33px;
    margin-bottom: 20px;
	}
  
	nav .lang {
    margin-top: 30px;;
    display: table;
    width: auto;
	}
  nav .lang:focus {
    background-color: #000;
  }

}
/* navigations stop
--------------------------------------------------- */
.no-scroll {
  overflow: hidden;
}
@media (min-width: 768px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .modal-content {
    border: 4px solid #fff;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    overflow: hidden;
    position: absolute;
    z-index: 101;
    top: 50%;
    left: 50%;
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .modal-content video {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
    overflow: hidden!important;
  }
  .modal-content .close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 102;
    width: 40px;
    height: 40px;
    background-color: #666;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
  }
  .modal-content .close:hover {
    background-color: #fff;
    color: #000;
  }
  .modal.show {
    display: block;
  }
  .modal-content.show {
    opacity: 1;
  }
}
@media (max-width: 767.98px) {
  .modal {
    display: none!important;
  }
}

.lb-outerContainer,
.lb-outerContainer {
  border-radius: 10px;
  overflow: hidden;
}
.lightbox .lb-image {
  border-radius: 10px;
}